<div class="main-conter">
        <h2 class="gold" mat-dialog-title>Tip Post with ETHEREUM <i class="fab fa-ethereum text-center gold" aria-hidden="true"></i></h2>
        <div mat-dialog-content class="sub-container">
          <div class="sub-container schs">
            Spread the <i class="fas fa-heart red"></i>. BlockChan currently supports ETHEREUM.
            <div mat-dialog-actions class="content-container">
              <div>
                <mat-form-field>
                   Amount: &nbsp; <input matInput [(ngModel)]="amount" class="confirmText" style="background:white; color:black; width:100%">
                </mat-form-field>   
              </div>
  
          </div>
          <div class="spacerm">
              <button mat-button [mat-dialog-close]="amount" class="btn btn-wrapper btn-primary btn-round btnmod">Tip ETH <i class="fab fa-ethereum text-center" aria-hidden="true"></i></button>
            </div>
        </div>
      </div>