    
<div class="container bgblack">

    <div class="section-title text-center">
        <h1>About BlockChan, Our Rules, and Posting Anonymously</h1>
    </div>
    <div class="row uk-text-center main-container">
        <div class="col"></div>
        <div class="col-lg-12">
            <div class="sub-container">
                <div class="sub-content">
                    
                    <div class="sub-body">
                        <img src="assets/images/obey.png" alt="BlockChan Rules" class="rounded pull-right" style="padding: 0 0 12px 12px;" width="400" heignt="276" />
                        <h2> Wait, what is this creepy place?</h2>
                        
                        <p class="darkred"><strong>We are a 100% free, censorship resistant, immutable, open source decentralized image board. Our code repository is here: <a href="https://github.com/ndm-inf/BlockChan" target="_blank">https://github.com/ndm-inf/BlockChan</a></strong></p>

						<p>With BlockChan there is no central server hosting the content and no web server logs to worry about. BlockChan is a client interacting with the Ripple ledger/blockhain (for text content) and <a href="https://ipfs.io/" target="_blank">IPFS</a> (for media). Anyone is free to install the client which is distributed for free <a href="https://github.com/ndm-inf/BlockChan" target="_blank">on our github</a>. You can also fork us and alter your client as you see fit. You can even publish it online under your own domain.</p>
                        
                    
						<h2>Fuck you there are no rules</h2>

						<p>Haha, it's true this time. Every post you make here is added permanently to the Ripple blockchain. Sorry, there is no way to edit or delete it. Obviously that is going to result in spam, loli, cheese pizza, and other degenerate or illegal content. For this reason we will appoint a very careful few to moderate illegal content only. This is content that does not comply with <a href="https://www.law.cornell.edu/uscode/text/47/230" target="_blank">47 U.S.C. § 230</a>. 
						
						<p>Always remember that all posts are the responsibility of the individual poster and not the administration of BlockChan. BlockChan's purpose is to be censorship free where you can discuss the most censored topics on the internet. That said, we don't want to interfere in your discussion in any way but we will not tolerate illegal content. BlockChan doesn't support that in any shape or form. We actually consider it an attack. 
						
						<p>For this reason we will coordinate with community volunteers to assist moderating illegal content.
						
						<h2>What do we moderate?</h2>
						  <ul>
							<li>Child sexual abuse material (child pornography) or suggestive images of children</li>
							<li>Flooding/spamming for the purpose of advertisement</li>
							<li>NSFW images on a SFW board</li>
							<li>Illegal gore, murder, or snuff</li>
						  </ul>
						  
						<h2>Moderation Mode & Image Downloads</h2>
						
						<p>Please notice in the sidebar that 'Downloading Images' and 'Moderation Mode' are both toggled ON by default. That said, if you truly are a degenerate you can toggle the Moderation Mode button to see content that is unfiltered by our volunteers, BUT we highly recommend you do not do so. If you do, at least use a VPN.</p>
						
						<h2>We're trying to be proactive</h2>
						
						<p>As a sign that we truly do not want to foster ANY illegal content: any post that is removed from moderated view with the tag LEGAL will also have the image unpinned/removed from IPFS. We will also take proactive measures to report these incidents to the proper authorities, possibly by automated API calls. You have been warned.</p>
						
						<h2>Anonymously uploading to BlockChan</h2>
 
						<p>Whistleblower looking to anonymously share something? We got you.
						 
						<p>To upload a file using BlockChan to the Ripple blockchain anonymously, you must hide your identity from two servers. The Ripple Ledger that your post is submitted to and and the IPFS server the image is pinned to (<a href="https://pinata.cloud/" target="_blank">Pinata</a>).
						 
						<h2>Anonymously connecting to Ripple Decentralized Network and IPFS</h2>
						
						<div class="sub-body"> 
							<p>The issue to address is anonymously and securely connecting to a server instance of the ripple blockchain and Pinata (the IPFS API BlockChan uses). Do the following:</p>
							 
							<h3>First install Brave Browser</h3>
							 
							<p>First, install the <a href="https://brave.com/" target="_blank">Brave Browser</a>. This browser offers cutting edge privacy and security with the ability to use <a href="https://www.torproject.org/" target="_blank">Tor</a> which furthers obfuscates the ability for a server to know the actual source of it's client. MAKE SURE you are in a Tor window before proceeding (ALT-SHIFT-N).</p>
							 
							<h3>Obtain and Setup VPN (Suggested: ProtonMail + ProtonVPN)</h3>
							 
							<p>Secondly, while using Brave in a TOR window, you will want to setup a VPN, we suggest using a <a href="https://protonmail.com" target="_blank">Proton Email address</a>, and <a href="https://protonvpn.com/" target="_blank">ProtonVPN</a>. Email setup is very straight forward and the VPN setup has directions that are well laid out and easy to follow. It is highly advised to upgrade your free account to a paid account which will give you the ability to choose which country your VPN routes through. If you do decide to upgrade, do not pay with a debit card or paypal, but instead use bitcoin. You can follow the steps in the below section on how to Anonymize your bitcoin (or any crypto for that matter).</p>
							 
							<h3>Burner Phone + Tether</h3>
							 
							<p>Lastly, when ready to post w/ BlockChan, for further security, you can use a Burner phone w/ tether internet capability that you purchased with cash as your internet source.</p>
							 
							<p>There are other privacy browsers w/ tor capabilities that are considered to be better, however Brave is the easiest. There are also other VPN's which are considered more secure. DYOR and due diligence. If you have any suggestions to improve this document, please get in touch with us.</p>
						</div>
                    
                    
                    
                    </div>
                </div> 
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>