.openBoard{
	cursor: pointer;
	margin:1px;
	font-size:12px;
}
a {
   color:aqua;
}
a:visited {
   color: aqua;
}
h2 {
	color:white;
	text-align: center;
}
.belowBoard {
   width:85%;
   border-color: #333333;
}
.belowReply {
   width: 100%;
   border-color: #333333;
}
.center-text{
	text-align: center;
}
.post-reply-btn {
	color:#00ff00;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
}
h3 {
	color: white;
}
.boardHeader{
   font-family: Tahoma,sans-serif;
   font-size: 28px;
   font-weight: 700;
   letter-spacing: -2px;
   margin-top: 0;
   color: #990000;
}
.replybracket {
	color:white;
}
.blotter-date{
	width: 50px;
	text-align: center;
	font-family: arial,helvetica,sans-serif;
}
.blotter-content{
	font-family: arial,helvetica,sans-serif;
}
.poster-container{
    background-color: rgba(52, 52, 52, 0.55);
    border-radius: 12px;
    padding:20px;
    margin:0 auto;
    
 }
.blotter {
   padding: 0.5em 0 1em 0;
   font-size:11pt;
   width: 468;
}
tbody {
	display: table-row-group;
	vertical-align: text-top;
	border-color: inherit;
}
td {
	margin-left:4px;
	margin-right:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align: text-top;
}
table {
	border-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(88, 83, 83);
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: text-top;
}
.util {
   font-family: arial,helvetica,sans-serif;
   font-size: 10pt;
   padding: 0.5em 0;
 }
.smallPadding{
	margin: 0px;
	padding: 0px;
}

.tiny {
	font-size: 65% !important;
}

.counters{
	float: right;
}
.rowspacer2{
	margin-top:3px;
	padding-top:3px;
}
.trip{
	font-style: italic;
	color:darkcyan;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}
.green {
	color: #13d400;
}

.navgreen {
	color: #ffffff;
}

.navgreen:hover {
	color: #13d400;
}


@media only screen and (min-width: 768px){
		.thread-stats{
			float:none;
			text-align:center;
		}
		.ts-replies:before{
			content:"Replies: ";
		}
		.ts-images:before{
			content:"Images: ";
		}
		div.post div.postInfoM span.nameBlock{
			clear:none;
		}
	}


.posteruid .hand{
	padding:0 5px;
	border-radius:6px;
	font-size:0.8em;
}

.subject {
	display: inline-block;
}

.idhover:hover {
	background-color: rgba(27, 36, 73, 0.75);
	border-radius: 4px;
	margin:2px;
	padding:2px;
	-webkit-box-shadow: -5px 8px 20px -5px rgba(52, 58, 64, 0.6);
	-moz-box-shadow: -5px 8px 20px -5px rgba(52, 58, 64, 0.6);
	box-shadow: -5px 8px 20px -5px rgba(52, 58, 64, 0.6);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transform: translate(1px, -1px);
	-moz-transform: translate(1px, -1px);
}
.replyContainer {

	input:-moz-placeholder{
		color:gray!important;
	}
	.mobile{
		
	}
	a,a:visited{
		color:#81a2be!important;
		text-decoration:none;
	}
	a:hover{
		color:#5f89ac!important;
	}
	img{
		border:none;
	}
	.mobile{
		display:none;
	}
	div.sideArrows{
		color:#c5c8c6;
		float:left;
		margin-right:2px;
		margin-top:0;
		margin-left:2px;
	}
	div.post{
		margin:6px 0;
		overflow:hidden;		
	}
	div.reply{
		background-color:#282a2e;
		border:1px solid #3e3e3e;
	}
	div.reply input{
		float:none;
	}
	div.post div.postInfo{
		display:block;
		width:100%;
		//border-bottom:1px solid #3e3e3e;
		margin: 0 12px;

	}
	.postinfo_hr {
		border: none;
		height: 1px;
		color: #3e3e3e;
		background-color: #3e3e3e;
		margin: 6px 8px 6px 6px; padding: 0;
	}
	.fileText{
		max-width:600px;
		white-space:nowrap;
	}
	div.post div.postInfo span.postNum>a{
		text-decoration:none;
		color:#c5c8c6!important;	
	}
	div.post div.postInfo span.postNum a:hover,.posteruid .hand:hover{
		color:#5f89ac!important;
	}
	div.post div.postInfo span.nameBlock{
		display:inline-block;
		//padding-left: 12px;
	}
	div.post div.postInfo span.nameBlock span.name{
		color:#117743;
		font-weight:700;
	}
	div.post blockquote.postMessage{
		display:block;
	}
	.quotelink{
		color:#5f89ac!important;
		text-decoration:underline;
	}
	a.quotelink:hover{
		color:#81a2be!important;
	}
	div.post div.file{
		display:block;
	}
	div.post div.file .fileThumb{
		float:left;
		margin-left:12px;
		margin-right:16px;
		margin-top:10px;
		margin-bottom:8px;
	}
	div.post div.file .fileThumb img{
		border:none;
		float:left;
	}
	.hand{
		cursor:pointer;
	}
	.reply:target{
		background:#1d1d21!important;
		border:1px solid #111!important;
		padding:2px;
	}
	.mFileInfo{
		padding-top:5px;
		text-align:center;
		color:#707070!important;
		font-size:9pt!important;
		text-decoration:none!important;
	}
	.fileText a{
		text-decoration:underline;
	}


	/*! CSS Used from: Embedded */
	@media only screen and (max-width: 480px){
		div.post div.postInfoM span.nameBlock{
			clear:none;
		}
	}
}


/* Thread Styling */
.headerlinks {
	font-size: 10px;	
	text-decoration: none;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	display: inline-block;
	padding-left: 12px;
}

.msg{
	margin: 4px 0;
	padding: 6px 12px 6px 12px;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
}
.postreply {
	width: 50%;
	margin: 0 auto;
}

.flag-icon {
	width: 24px;
}

/* Drag Drop Files */
#dropzone {
  top: 5px;
  margin-bottom: 5px;
  padding: 10px 0px;
}

.selectedCell {
  margin-top: 10px;
}

#selectedDiv {
  text-align: left;
  padding-bottom: 5px;
}

#dropzone {
  background-color: rgba(69, 69, 69, 1);
}

#dropzone {
  min-width: 300px;
  display: block;
  color: rgba(250, 250, 250, 0.7);
  cursor: pointer;
  text-align: center;
  position: relative;
  border: 2px dashed rgba(125, 125, 125, 1);
}

/* Responsive */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
 	.poster-container{
		width: 76% !important;	 
	}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	.poster-container{
		width: 76% !important;	
	}
}

/* 
  ##Device = Tablets, Ipads (portrait) and Larger
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 1201px) {
  
  	.btn-poster{
	  	width: 110px;
  	}
  
}
@media (min-width: 468px) {
  
  	.btn-poster{
	  	margin: 12px;
  	}
  
}

/*! CSS Used for targetting mobiles */
@media only screen and (max-width:480px){
	a{
		color:aqua !important;
	}
	a:hover,a.quotelink:hover{
		color:#d00!important;
	}
	.posteruid .hand:hover{
		color:#d00!important;
	}
	img{
		border:none;
	}
	.mobile{
		display:block!important;
		clear:left!important;
	}
	.desktop{
		display:none!important;
	}
	div.post div.file .fileThumb{
		//margin-right:16px;
		margin-top:3px;
		margin-bottom:6px;
		text-decoration:none;
	}
	div.post div.file div.fileText{
		display:none;
	}
	div.sideArrows{
		display:none;
	}
	div.reply{
		padding:2px;
		background-color:#282a2e;
		margin:0;
		border:1px solid #171819;
	}
	div.replyContainer{
		background-color:#282a2e;
		margin:5px 5px 0;
		padding-left:0;
	}
	blockquote{
		margin:10px!important;
	}
	blockquote.postMessage{
		font-size:11pt;
	}
	div.post div.postInfoM{
		overflow:hidden;
		border-bottom:1px solid #3e3e3e;
		padding: 6px 10px 6px 10px;
	}
	div.replyContainer div.postInfoM{
		margin:0;
	}
	div.post div.postInfoM span.postNum,div.postInfo span.postNum{
		float:left;
	}
	div.post div.postInfoM span.postNum a,div.postInfo span.postNum a{
		text-decoration:none;
		color:#000!important;
	}
	div.post div.postInfoM span.postNum a:hover{
		color:red;
	}
	div.post div.postInfoM span.nameBlock,div.postInfo span.nameBlock{
		display:inline;
		float:left;
		clear:left;
	}
	div.post div.postInfoM span.nameBlock span.name,div.postInfo span.nameBlock span.name{
		color:#117743;
		font-weight:700;
	}
	div.post div.postInfoM span.dateTime{
		//float:right;
		//text-align:right;
		color:#e8e8e8 !important;
	}
	div.replyContainer div.reply{
		width:100%;
		padding:0!important;
	}
	div.replyContainer div.post div.postInfo{
		overflow:hidden;
		border-bottom:1px solid #b7c5d9;
		background-color:#c9cde8;
		padding:3px;
		margin:0;
	}
	div.replyContainer div.post div.postInfo input[type=checkbox]{
		display:none;
	}
	div.replyContainer div.post div.postInfo span.postNum{
		font-style:italic;
	}
	div.replyContainer div.post div.postInfo span.postNum a:first-child:after{
		content:" ";
	}
	div.replyContainer div.post div.postInfo span.dateTime{
		float:right;
		text-align:right;
		padding-right:10px;
		font-style:italic;
	}
	div.replyContainer div.post div.file{
		padding:5px;
	}
	div.post div.postInfo span.postNum a{
		text-decoration:none;
		color:#000;
	}
	div.post div.file .fileThumb img{
		border:none;
		float:left;
	}
	input:focus{
		border:1px solid #98e!important;
	}
	a:hover,.posteruid .hand:hover{
		color:#d00!important;
	}
	.reply:target,.reply:focus{
		border:1px solid #b7c5d9!important;
		background:#d6bad0!important;
	}
	.mFileInfo{
		padding-top:5px;
		text-align:center;
		color:#707070!important;
		font-size:9pt!important;
		text-decoration:none!important;
	}
}