.progress-container{
    background-color: rgba(32, 32, 32, 0.75);
    padding-top:5px;
    margin-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
 }
 .upload-container{
    background-color: rgba(52, 52, 52, 0.55);
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 .upload-container-enc{
   background-color:rgb(124, 13, 13);
   border-radius: 12px;
   padding:10px;
   margin:10px;
 }
 .upload-btn-container{
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 .progress-item-container{
    background-color: rgba(16, 16, 16, 0.85);
    padding:10px;
    margin:10px;
    white-space: pre-wrap;
    word-wrap: break-word

 }
 .msg{
   white-space: pre-wrap;
   word-wrap: break-word
 }
 .progress-item-container-expanded img {
   max-height: 100%;
   width: 100%;
   display: block;
   margin: auto;
   }
 
 .sub-cont{
    margin-left:15px;
    padding-left:15px;
 }
 .toggle-margin{
    margin:5px;
 }
.btn-round{
    border-radius: 12px;  
}

h2{
   color: white;
   text-align: center;
   cursor: pointer;
}

 h3{
    color:white;
}
textarea{
   padding-bottom:5px;
   margin-bottom:5px;
}
.estimates{
   font-size: 12px; top:5px
}
.largeIcon{
   font-size: 80px; top:3px;
}
.pointercursor{
   cursor: pointer;
}

.uploadWarning{
      background-color: rgb(163, 163, 7);
}
.uploadError{
      background-color: red;
}
.green {
   color: green;
}
a {
   color:aqua;
}
a:visited {
   color: aqua;
}
.green {
   color: rgb(2, 99, 2)
}
.red {
   color: rgb(189, 3, 3);
}
.white {
   color:white;
}
.custom-modalbox {
   mat-dialog-container {
    background-color: #000 !important; 
    border-radius: 12px;  

   }
 }

 .post-header {
    margin-left: 7px;
    padding-left: 7px;
 }
 .board-container{
   background-color: black;
   border-radius: 12px;
   padding:5px;
   margin:5px;
   text-align: center;
   font-size: 20px;
   cursor: pointer;
}

.btn-round{
   border-radius: 12px;
   background-color: red;  
}