<div class="overlay"></div>
<div class="home-text-wrapper relative container">
    <div class="home-message row">
        <p>blockchan.ca</p>
        <h2>Indestructible. Immutable. Infinite Discussion. </h2>

        <div class="btn btn-wrapper btn-default btn-round" style="width:100%;font-size:32px;text-decoration: underline" (click)="viewBoards();">
            View Board List
        </div>
        <div>
	        <a href="irc://irc.rizon.net/blockchan">#blockchan on IRC</a>
        </div>
        
        <img src="assets/images/biglogo.png" alt="" />
                
        <h4 style="color:grey">Content Hosted on Ripple Blockchain, Images Hosted on InterPlanetary File System</h4>
        <h4 style="color:grey">Served from Canada. <img src="assets/images/icon_canada.png" alt="Canada" width="24"/></h4>
        
        
    </div>
</div>