<div class="home-text-wrapper container">
    <div class="home-message row">
        <h1 class="darkred"><a href="https://blockchan.ca" class="darkred">BlockChan</a></h1>
        <h2>Indestructible. Immutable. Infinite Discussion.</h2>

        <div class="btn btn-wrapper btn-danger btn-round bigbtn" (click)="viewBoards();">
            View Board List
        </div>
        <div>
	        <p><a href="irc://irc.rizon.net/blockchan">#blockchan on IRC</a></p>
        </div>
        
        <img src="assets/images/unstoppable.jpg" alt="" class="img-responsive center-block" width="700"/>
                
        <h6 style="color:grey">Content Hosted on Ripple Blockchain, Images Hosted on <a href="https://ipfs.io/" target="_blank">IPFS</a></h6>

        
        
    </div>
</div>