li {
    cursor: pointer;
}

i {
    vertical-align: -7px; 

}

.sideFooter {
    margin-left: 5px;
    margin-right: 5px;
}

.secure-highlight {
    color: #00ff00;
}

.gab {
    vertical-align: -7px; 
}
.beta {
    color: rgba(110, 110, 110, 1);
}

.toggle-container{
    background-color: rgba(77, 72, 72, 0.85);
    border-radius: 12px;
    padding:10px;
    margin:10px;
}

.navbar-logo {
    width: 88px;
}