.progress-container{
    background-color: rgba(22, 22, 22, 0.75);
    border-radius: 4px;
    padding-top:5px;
    margin-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
}

.progress-container:hover {
   background-color: rgba(27, 36, 73, 0.75);
   border-radius: 4px;
   padding-top:5px;
   margin-top:5px;
   padding-bottom:5px;
   margin-bottom:5px;


   -webkit-box-shadow: -5px 8px 20px -5px rgba(52, 58, 64, 0.6);
   -moz-box-shadow: -5px 8px 20px -5px rgba(52, 58, 64, 0.6);
   box-shadow: -5px 8px 20px -5px rgba(52, 58, 64, 0.6);
   -webkit-transition-duration: 0.3s;
   -moz-transition-duration: 0.3s;
   -webkit-transform: translate(1px, -1px);
   -moz-transform: translate(1px, -1px);
      
}
 .upload-container{
    background-color: rgba(52, 52, 52, 0.55);
    border-radius: 12px;
    padding:10px;
    margin:10px;
    
 }
 .board-container{
   background-color:black;
   border-radius: 12px;
   padding:5px;
   margin:5px;
   text-align: center;
   font-size: 20px;
}
 .upload-btn-container{
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 img {
   max-height: 300px;
 }
 .progress-item-container{
    background-color: rgba(16, 16, 16, 0.85);
    border-radius: 12px;
    padding:10px;
    margin:10px;
    text-align: center;
    cursor: pointer;
 }
 
 .click-show {
    font-size: 10px;
 }
 .toggle-margin{
    margin:5px;
 }
.btn-round{
    border-radius: 12px;  
}

h2{
   color: white;
   text-align: center;
}
 h4{
     color:white;
 }
 h3{
    color:white;
    text-align: center;
}
textarea{
   padding-bottom:5px;
   margin-bottom:5px;
}
.estimates{
   font-size: 12px; top:5px
}
.largeIcon{
   font-size: 80px; top:3px;
}
.pointercursor{
   cursor: pointer;
}

.uploadWarning{
      background-color: rgb(163, 163, 7);
}
.uploadError{
      background-color: red;
}
a {
   color:aqua;
}
a:visited {
   color: aqua;
}
.green {
   color: rgb(2, 99, 2)
}
.red {
   color: rgb(189, 3, 3);
}
.custom-modalbox {
   mat-dialog-container {
    background-color: #000 !important; 
    border-radius: 12px;  

   }
 }