<div class="container">
<div class="row uk-text-center upload-container">

        <div class="progress-container">
        <div class="row progress-item-container" (click)="OpenPolitics()"> 
                <span class="comment-name post-header green">Politics - /pol/</span>:&nbsp;&nbsp;Political correctness is just intellectual terrorism
        </div>
        <div class="row progress-item-container" (click)="OpenBusiness()"> 
                <span class="comment-name post-header green">Business/Finance - /biz/</span>:&nbsp;&nbsp;Cryptocurrency, shitcoins, business ideas, bros helping bros
        </div>            
        <div class="row progress-item-container" (click)="OpenRandom()"> 
                <span class="comment-name post-header green">Random - /b/</span>:&nbsp;&nbsp;Anything goes
        </div>
        <div class="row progress-item-container" (click)="OpenMeta()"> 
                <span class="comment-name post-header green">Meta - /m/</span>:&nbsp;&nbsp;BlockChan news, updates and announcements
        </div>
        <div class="row progress-item-container" (click)="OpenAnime()"> 
                <span class="comment-name post-header green">Anime - /a/</span>:&nbsp;&nbsp;All that anime and manga
        </div>
        <div class="row progress-item-container" (click)="OpenWeapons()"> 
                <span class="comment-name post-header green">Weapons - /k/</span>:&nbsp;&nbsp;Responsible use of weaponry of all shapes and sizes
        </div>
        <div class="row progress-item-container" (click)="OpenTechnology()"> 
                <span class="comment-name post-header green">Technology - /g/</span>:&nbsp;&nbsp;Man is something that shall be overcome
        </div>                                
        </div>
</div>
</div>