<div class="main-conter">
    <h2 mat-dialog-title>Flag Post to be Hidden</h2>
    <div mat-dialog-content class="sub-container">
      <div class="sub-container schs">
        <i class="far fa-question-circle"></i> Choose a reason to flag this post. Once accepted it will not show in Moderated Mode. For now this post flagging system is just for moderators.
        <div mat-dialog-actions class="content-container">
          <div>
            <div>
              <mat-form-field>
                Flag Type: &nbsp; <select matInput [(ngModel)]="flag.Type" class="confirmText" style="background:white; color:black; width:100%">
	                				<option label="SPAM" value="SPAM">
	                				<option label="LEGAL" value="LEGAL">
	                				<option label="OTHER" value="OTHER">
								  </select>
              </mat-form-field>  
            </div>
            <div>
              <mat-form-field>
                Mod Address: &nbsp; <input matInput [(ngModel)]="flag.Address" class="confirmText" style="background:white; color:black; width:100%">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                Mod Key: &nbsp; <input matInput [(ngModel)]="flag.Key" class="confirmText" style="background:white; color:black; width:100%">
              </mat-form-field>
            </div>
          </div>

      </div>
      <div class="spacerm">
          <button mat-button [mat-dialog-close]="flag" class="btn btn-wrapper btn-primary btn-round btnmod">Flag Post</button>
        </div>
    </div>
  </div>